<div class="container mixed-caps-container p-3 h-100">
  <div class="text-center">
    <h1>Mixed cap generator</h1>
  </div>

  <div class="mixed-cap-input w-100 d-flex flex-column">
    <label for="mixed-caps">Enter text here</label>
    <textarea id="mixed-caps" class="form-control" rows="6" [formControl]="mixedCapFormControl"></textarea>
  </div>


  <div class="mixed-cap-output mt-3">
    <h5>Your outputted text:</h5>
    <div class="output alert-success p-3">
      <p *ngIf="mixedCaps">{{mixedCaps}}</p>
      <p *ngIf="!mixedCaps">{{convertToMixedCaps('Please enter some text into the field above')}}</p>
    </div>
  </div>
</div>
